streamlit
langchain==0.1.20
langchain-community==0.0.38
langchain-openai==0.1.6
langchain-core==0.1.52
faiss-cpu
pypdf
unstructured[all-docs] 
python-docx
tiktoken
python-pptx
Pillow
nltk==3.8.1
docx2txt
pandas
pydantic
